@import '../../variables.scss';

header {
    min-height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


.titleText {
    font-size: 128px;
    font-weight: bold;
    max-width: 720px;
    text-align: center;
}